body {
  font-family: "Titillium Web", Arial, sans-serif;
  background-color: orange;
  color: black;
  text-align: center;
}

td {
  font-size: 80px;
  text-align: center;
  border: 3px solid black;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

table {
  margin-left: auto;
  margin-right: auto;
}
